{#
/**
 * @file
 * Default theme implementation to list widget content types available for adding content widgets.
 *
 * This list is displayed on the Add content widget admin page.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_agorawidget_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <dl>
    {% for type in types %}
      <dt>{{ type.add_link }}</dt>
      <dd>{{ type.type }}</dd>
    {% endfor %}
  </dl>
{% else %}
  <p>
    {% set create_content = path('entity.agorawidget_type.add_form') %}
    {% trans %}
    You have not created any content types yet. Go to the <a
        href="{{ create_content }}">content type creation page</a> to add a new
    content type.
    {% endtrans %}
  </p>
{% endif %}
