{#
/**
 * @file agorawidget.html.twig
 * Default theme implementation to present Content widget data.
 *
 * This template is used when viewing Content widget pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_agorawidget()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('agorawidget') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
